<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>webApp</title>
</head>
<body>

    <span style="border: 1px solid black"><a href="{% url 'signup' %}">ورود</a></span>
    <span style="border: 1px solid black"><a href="{% url 'register' %}">کاربران ثبتنام شده</a></span>
    <span style="border: 1px solid black"><a href="{% url 'editation' %}">ویرایش اطلاعات</a></span>
    <span style="border: 1px solid black"><a href="{% url 'information' %}">دریافت اطلاعات</a></span>

</body>
</html>